* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.NavLogo{
  display: flex !important;
  align-items:center !important;
}
.Table_heading{
  font-weight: 600 !important;
  color: #1976D2 !important;
}

.coin_img{
  width: 1rem;
  height: 1rem;
  margin-right: 2px;
}

.Footer_main{
  text-align: center;
}